<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    User: <span sec:authentication="name">[[${#httpServletRequest.remoteUser}]]</span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" id="Logout" value="Logout"/>
        </form>
    </div>
</div>
</body>
</html>