<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Items</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <meta charset="utf-8"/>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Product Manager</a>
        </div>
        <ul class="nav navbar-nav navbar-right">

            <form class="navbar-form navbar-right" action="#" th:action="@{/logout}" method="post">
                <div th:fragment="logout" sec:authorize="isAuthenticated()">
                    <span class="glyphicon glyphicon-user"></span> 
                    <strong sec:authentication="name"> [[${#httpServletRequest.remoteUser}]]</strong>
                    <button class="btn btn-default" type="submit" id="Logout" value="Logout">Logout
                    </button>
                </div>
            </form>
        </ul>
    </div>
</nav>

</body>
</html>