<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/error.css" th:href="@{/css/error.css}"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>
<h1>You're already logged in</h1><br>
<br>
<a href="/index" id="home page" th:href="@{/}">Back to home page</a>
</body>
</html>