<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/signin.css" th:href="@{/css/signin.css}"/>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>
<body>
<div class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Login</h2>

        <p th:if="${loginError}" class="error">Non valid username or password</p>
        <label for="username" class="sr-only">Username</label>
        <input type="username" id="username" class="form-control" name="username" placeholder="Username" required
               autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" required> <br/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="Log in" value="Log in"/>

        <p><a href="/index" id="home page" th:href="@{/}">Back to home page</a></p>
    </form>
</div>
</body>
</html>